:root {
    --lightgray: #d9d9d9;
    --darkGrey: #464d53;
    --purple: #6747ed;
    --gradient: linear-gradient(210.41deg, #6747ed 1.14%, #c647ed 100.75%);
    --appColor: #040404;
    --glass: rgba(255, 255, 255, 0.54);
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.App {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(https://wallpapershome.com/images/pages/pic_h/23424.jpg);
    mix-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 6rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: min(100vh);
}
.spotmusic {
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 0.5rem;
    gap: 16px;
    grid-template-columns: 18rem auto 20rem;
    -webkit-backdrop-filter: blur(5.4px);
    background: rgba(173, 173, 173, 0.171);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(183, 183, 183, 0.11);
    overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.blur {
    background: rgba(253, 120, 43, 0.69);
    position: absolute;
    border-radius: 50%;
    filter: blur(212px);
    z-index: -9;
}

@keyframes text-animation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
