.bottom-player {
    display: flex;
    z-index: 4;
    width: 100%;
    padding: 1rem 2rem;
    height: 125px;
    bottom: 0;
    position: absolute;
    align-items: center;
    border-top: 1px solid rgba(233, 233, 233, 0.35);;
    justify-content: space-between;
    margin: 25px auto;
    background-color: rgba(23, 23, 23, 0.45);
    backdrop-filter: blur(10px);
}
.player {
    display: flex;
    gap: 2rem;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 48%;
    transform: translateX(-50%);
}
.player > svg {
    fill: white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.player > :nth-child(3) {
    transform: scale(1.8);
}
.player > svg:hover {
    fill: var(--purple);
}